.code-editor-container {
    width: 100%;
    max-height: 300px;
    border-radius: 10px;
    margin-bottom: 7px;
    /* Ensure responsiveness */
    @media (max-width: 600px) {
      height: 300px; /* Adjust height for smaller screens */
    }
    @media (min-width: 601px) and (max-width: 1024px) {
      height: 400px; /* Adjust height for medium screens */
    }
    @media (min-width: 1025px) {
      height: 500px; /* Adjust height for larger screens */
    }
  }